<footer>
    <!--
    <div class="social-media">
        {{ range site.Params.social}}
            <a href="{{ .url }}"><img alt="{{ .name }}" src="{{ .icon }}"/></a>
        {{ end }}
    </div>
    -->
    <div class="logo h-card">
        <a class="u-url" href="{{ .Site.Home.Permalink }}">
            <img alt="Site Logo" class="site-logo u-photo" src="{{ $.Site.Params.logo | default "/images/logo.png" }}"/>
        </a>
        <center>
        <p>© {{ now.Format "2006" }}
            <a href="https://github.com/secnotes">{{ .Site.Title }}</a> | <a href="https://github.com/secnotes/cyberpaper">站点源码.</a><br />
        本作品采用<a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>进行许可。</p></center>
    </div>
    <!--
    <nav>
        <ul>
            {{- range site.Menus.main }}
                <li>
                    <a href="{{ absURL .URL }}">{{ .Name }}</a>
                </li>
            {{- end }}
        </ul>
    </nav>
    -->
    {{ partial "search-index.html" . }}
</footer>